@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appNav ul {
  display: flex;
  justify-content: center;
  gap: 2em;
  border-bottom: 2px solid black;
  padding: 2rem;
  list-style-type: none;
}

.appNav a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: 200ms;
  border-radius: 50em;
  padding: .5em 2em;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.appNav a:hover {
  background-color: #009FFD;
  color: #fff;
}

.main {
  width: 75%;
  margin: 2rem auto;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.main h1,
h2,
h3,
h4 {
  font-size: 2rem;
  text-align: center;
}

.main h5 {
  font-size: 1.5rem;
}

.main li {
  list-style-type: none;
}

.main div {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.main li {
  text-align: center;
}

/* This class is specific to the friends component */
.friend {
  cursor: pointer;
}

.btn {
  padding: .5em 1.5em;
  border-radius: 50em;
  border: 0;
  background-color: #635bff;
  color: white;
  margin: .2em;
  cursor: pointer;
  transition: 200ms;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
}

.btn:hover {
  background-color: #2b276d;
}

.btn:disabled {
  background-color: #635bff5b;
}

.btn-sort {
  padding: .5em 1.5em;
  border-radius: 50em;
  border: 0;
  background-color: #009FFD;
  color: white;
  margin: .2em;
  cursor: pointer;
  transition: 200ms;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
}

.btn-sort:hover {
  background-color: #007ac0;
}

input {
  padding: .5em .5em;
  border-radius: 50em;
  border: 1px solid black;
}

select {
  padding: .5em .5em;
  
}

.form--cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.form--cont label {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.habitCont {
  padding: 1em;
}

.habitCont p {
  margin: 1em;
  font-size: 1em;
}

.habitCard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 500px;
  border-radius: 1em;
  padding: 1em;
}

